.canvas.large{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; /* 默認寬度 */
    aspect-ratio: 16 / 9; 
}
.canvas{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; /* 默認寬度 */
    aspect-ratio: 16 / 9; 
}
