.stream {
  width:40%;
  margin: 1em;
  /* padding: 1em; */
  color: rgb(0, 0, 0);
  border-radius: 0.45em;
  /* overflow: hidden; */
  position: relative; 
  /* border: 1px solid #000000; */

}
.stream.large {
  width: 100%; /* 設置為100%寬度 */
  height: 100%; /* 設置為100%高度 */
  /* margin-left: 0; 移除左邊距 */
}

.hidden {
  display: none;
}

video {
  width: 100%; 
  height: auto; 
}

video.scale {
  transform: scale(1.5); 
  transform-origin: center; 
  width: 100%; 
  height: auto; 
}

video.large {
  height: auto; /* 高度由比例決定 */
  width: 100%; /* 可調整寬度 */
  aspect-ratio: 16 / 9; /* 根據需要調整 */
}

video.small {
  height: auto; /* 高度由比例決定 */
  width: 100%; /* 可調整寬度 */
  aspect-ratio: 16 / 9; /* 根據需要調整 */
  
}

.stream-container {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap; /* 啟用換行 */
  align-items: center;
  justify-content: center;
  margin-left: 6%;
  height: 80vh;
  /* border: 1px solid green; */
  aspect-ratio: 16 / 9;
}


.overlay {
  position: absolute; /* 設置為絕對定位 */
  /* bottom: 0;  */
  left: 5px; 
  font-family: Arial, sans-serif;
  font-weight: 550;
  color: rgb(0, 0, 0); 
  /* padding: 3px;  */
  width: 50%; 
}

.overlay p {
  top: 10px;
  margin: 0; 
  text-align: left;
  /* border: 1px solid #000000; */
}

@media (max-width: 850px) {
  .stream-container {
    /* padding: 10px; */
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid #000000; */
  }
}
.reload{
  position: fixed;
  right: 10px;
  top: 10px;
  background: transparent;
}
.reload_img{
  width: 20px;
}

.panoramic_camera{
  position: relative; 
  /* border: 1px solid red; */
  width: 55em;
  margin-top: 10px;
  /* height: 31em; */
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}