.sidebar {
  min-width: 110px;
  width: 10%; 
  background-color: #f4f4f4; 
  padding: 20px; 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; 
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
@media (max-width: 850px) {
  .sidebar {
      display: none; /* 在寬度小於 768px 時隱藏側邊欄 */
  }
}

